<a href="https://colab.research.google.com/github/hkrali46/lab/blob/main/(Hammad)_Lab_2_and_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Programming For Artificial Intelligence:**

⦁	Print at least 5 types of data type

In [ ]:
print(type(5))                    # Integer
print(type(10))                    # Integer
print(type(15))                    # Integer
print(type(20))                    # Integer
print(type(25))                    # Integer


print(type(3.14))                 # Float
print(type(4.14))                 # Float
print(type(6.14))                 # Float
print(type(9.14))                 # Float
print(type(13.14))                 # Float


print(type(2 + 3j))               # complex
print(type(12 + 3j))               # complex
print(type(21 + 3j))               # complex
print(type(31 + 3j))               # complex
print(type(42 + 3j))               # complex

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

⦁	Write example of type conversion for each ( minimum 3)

In [ ]:
# Integer to float
num_int = 5
num_float = float(num_int)
print(num_float)

# Float to integer
num_float = 3.14
num_int = int(num_float)
print(num_int)

# complex to string
com_num = 2 + 3j
num_str = str(com_num)
print(num_str)

5.0
3
(2+3j)

⦁	Assign multiple strings to single variable with your name , registration number, program , semester etc

In [ ]:
info = "Name: Hammad, Reg. No: 12345, Program: Artificial Intelligence, Semester: Spring"
print(info)

Name: Hammad, Reg. No: 12345, Program: Artificial Intelligence, Semester: Spring

⦁	Write Your country name and access the last 3 characters

In [ ]:
country = "Pakistan"
last_three = country[-3:]
print(last_three)

tan

⦁	Write code and observe using len() function it count space or not.

In [ ]:
text = "Hello World"
print("Length of text:", len(text))      # Counts spaces

Length of text: 11

⦁	Write code to access the 2nd and 3rd character of your name using negative indexes.

In [ ]:
name = "Hammad"
second_char = name[-5]
third_char = name[-4]
print("2nd character:", second_char)
print("3rd character:", third_char)

2nd character: a
3rd character: m

⦁	Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.

In [ ]:
# With indexes
text = "My name is {0} and I am {1} years old."
formatted_text = text.format("Hassan", 20)
print(formatted_text)

# Without indexes
text = "My name is {} and I am {} years old."
formatted_text = text.format("Hammad", 20)
print(formatted_text)

My name is Hassan and I am 20 years old.
My name is Hammad and I am 20 years old.

⦁	Take input from user and  than display it like “John age is: age”

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print(f"{name} age is: {age}")

Enter your name: hammad
Enter your age: 20
hammad age is: 20